<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="#{pages.error404.title}">Page Title</title>
    <!--/*/ <th:block th:include="/layout/bootstrap/inc_scripts :: header"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="/layout/bootstrap/inc_navs :: topnav"></th:block> /*/-->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>Error 404 - Page Not Found</h1>
            <h4 th:if="${customException != null}" th:text="${customException.message}"></h4>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="/layout/bootstrap/inc_scripts :: footer"></th:block> /*/-->
</body>
</html>