<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="#{pages.index.title}">Page Title</title>
    <!--/*/ <th:block th:include="/layout/bootstrap/inc_scripts :: header"></th:block> /*/-->
</head>
<body>
    <!--/*/ <th:block th:include="/layout/bootstrap/inc_navs :: topnav"></th:block> /*/-->

    <div class="container-fluid">
        <div class="row my-3">
            <div class="col"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">Les derniers messages du Forum</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="entry : ${feedEntries}">
                            <p th:utext="${@RSSServiceImpl.getEntryTitle(entry)} ">Entry Title</p>
                            <p th:utext="${entry.getContents().get(0).value}">Entry Body</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!--/*/ <th:block th:include="/layout/bootstrap/inc_navs :: footer"></th:block> /*/-->

    <!--/*/ <th:block th:include="/layout/bootstrap/inc_scripts :: footer"></th:block> /*/-->
</body>
</html>