<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="#{pages.secure.chronicle.messaging.folders.title}">Page Title</title>
    <!--/*/ <th:block th:include="/layout/layout/inc_scripts :: header"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="/layout/layout/inc_navs :: chronav"></th:block> /*/-->
<div class="container-fluid">
    <h1 th:text="#{pages.secure.chronicle.messaging.folders.your_mailbox(${messageFolder.name})}">YOUR MAILBOX</h1>
    <div class="row">
        <div class="col-sm-3">
            <!--/* LEFT SECTION */-->
            <div class="row">
                <div class="col">
                    <!--/*/ <th:block th:include="/layout/components/messaging :: folderList(folders = ${folderList})"></th:block> /*/-->
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <!--/* CENTER SECTION */-->
            <!--/*/ <th:block th:include="/layout/components/messaging :: folderContent(messageList=${messageList})"></th:block> /*/-->
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="/layout/layout/inc_navs :: footer"></th:block> /*/-->

<!--/*/ <th:block th:include="/layout/layout/inc_scripts :: footer"></th:block> /*/-->

<!--/*/ <th:block th:include="/layout/components/messaging :: folderJs"></th:block> /*/-->
</body>
</html>