<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:fragment="addContactForm">
 <h1>MODAL CONTACT</h1>
</div>
<div th:fragment="addressBooks(addressBooks)" th:assert="addressBooks != null">
    <div class="card">
        <div class="card-header">
            <span class="fas fa-folder-open" aria-hidden="true"></span> <span th:text="#{components.contacts.your_addressBooks}">Your Address Books</span>
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-light" th:each="addressBook,addressBookStat : ${addressBooks}" th:classappend="${(currentAddressBook.equals(addressBook))?'active':''}"
                    th:href="@{'/secure/chronicle/' + ${_chronicle.id} + '/messaging/addressbook/' + ${addressBook.id}}" th:text="${addressBook.name}">Folder Name</a>
        </div>
    </div>
</div>
<div th:fragment="contactList(contactList)">
    <table class="table table-hover table-sm" id="contactList">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="contactList" type="java.util.List<org.libermundi.theorcs.domain.jpa.chronicle.Character>"*/-->
            <tr th:each="contact : ${contactList}">
               <td><a class="text-dark" th:href="@{'/secure/chronicle/' + ${_chronicle.id} + '/messaging/write?recipientId='+ ${contact.id}}"  aria-hidden="true"><i class="fa fa-arrow-right"></i></a></td>
               <td th:text="${contact.name}">Contact name</td>
               <td>Voir / Ecrire / Supprimer</td>
               <td><input type="checkbox" value="${message.id}"/></td>
           </tr>
       </tbody>
    </table>
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-primary" onclick="javascript:openAddContactModal();">Add Contact</button>
        </div>
    </div>
    <div layout:insert="/layout/layout/modal :: modal(modalId='addcontact', modalHeader = 'Add a contact')" th:remove="tag">
        <p layout:fragment="modal-body">Hello Modal</p>
    </div>
</div>
<div th:fragment="folderJs">
   <script>
       /*<![CDATA[*/
       $j = jQuery.noConflict();
       $j(document).ready(function() {
           $j('#contactList > tbody > tr').on('click', function(event){
               if(event.target.type == "checkbox"){
                   //We let people select the checkbox
                   event.stopPropagation();
               } else {
                   window.location.href=$j(this).find("a").attr('href');
               }
           });
       });
       function openAddContactModal() {
           $j.ajax({
               url:"/secure/chronicle/" + [[${_chronicle.id}]] + "/messaging/contacts/add",
               success:function(data){
                   //$j("#addcontact-modal").html(data);
                   $j("#addcontact-modal").modal("show");
               }
           })
       }
       /*]]>*/
   </script>
</div>
</body>
</html>