<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="folderList">
    <div class="card">
        <div class="card-header">
            <span class="fas fa-folder-open" aria-hidden="true"></span> <span th:text="#{components.messaging.your_folders}">Your Folders</span>
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-light" th:each="folder,folderStat : ${folders}" th:with="unreadMsg = ${@MessagingService.getUnreadMessageCount(folder)}" th:classappend="${(messageFolder.equals(folder))?'active':''}"
                    th:href="@{'/secure/chronicle/' + ${_chronicle.id} + '/messaging/folders/' + ${folder.id}}"
                    th:utext="${unreadMsg > 0}? ${folder.name} + ' <span class=&quot;badge badge-light&quot;>' + ${unreadMsg} + '</span>': ${folder.name}">Folder Name</a>
        </div>
    </div>
</div>
<div th:fragment="folderContent">
    <table class="table table-hover table-sm table-bordered" id="messageList">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">From</th>
                <th scope="col">Subject</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messageList}" th:classappend="${(message.markAsRead) ? 'table-light':'table-primary'}">
                <td><a class="text-dark" th:href="@{'/secure/chronicle/' + ${_chronicle.id} + '/messaging/folders/'+ ${messageFolder.id} +'/read/' + ${message.id}}"  aria-hidden="true"><i class="fa fa-arrow-right"></i></a></td>
                <td th:text="${message.sender != null} ? ${message.sender.name} : #{components.messaging.from_system}" th:classappend="${(message.sender == null)?'text-danger':''}">From</td>
                <td th:text="${message.content.subject}">Subject</td>
                <td th:text="${@StringFormatService.formatDateForMessaging(message.content.date)}">Date</td>
                <td><input type="checkbox" value="${message.id}"/></td>
            </tr>
        </tbody>
    </table>
</div>
<div th:fragment="folderJs">
    <script>
        $j = jQuery.noConflict();
        $j(document).ready(function() {
            $j('#messageList > tbody > tr').on('click', function(){
                window.location.href=$j(this).find("a").attr('href');
            });
        });
    </script>
</div>
<div th:fragment="readMessage">
    <div class="card">
        <div class="card-header" th:with="cced = #{components.messaging.cc(${@MessagingService.getRecipientNamesAsStringList(message,T(org.libermundi.theorcs.domain.jpa.messaging.MessageType).CC)})}">
            <h6 class="card-subtitle text-muted" th:text="${(message.content.anonymous == false)} ? #{components.messaging.from(${message.sender.name})} : #{components.messaging.from_anonymous}">From</h6>
            <h6 class="card-subtitle mt-2 text-muted" th:text="#{components.messaging.to(${@MessagingService.getRecipientNamesAsStringList(message,T(org.libermundi.theorcs.domain.jpa.messaging.MessageType).TO)})}">To</h6>
            <h6 class="card-subtitle mt-2 text-muted" th:text="${cced}" th:if="${#strings.equals(cced,'-')}">Cc</h6>
            <h6 class="card-subtitle mt-2 text-muted" th:text="#{components.messaging.date(${@StringFormatService.formatDateForMessaging(message.content.date)})}">Date</h6>
            <h6 class="card-subtitle mt-2 text-muted" th:text="#{components.messaging.subject(${message.content.subject})}">Subject</h6>
        </div>
        <div class="card-body">
            <p class="card-text" th:utext="${message.content.content}">News Content</p>
        </div>
    </div>
</div>
</body>
</html>