<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="folderList">
    <div class="card">
        <div class="card-header">
            <span class="fa fa-list" aria-hidden="true"></span><span th:text="#{pages.secure.chronicle.home.latest_news}">Folders</span>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="folder,folderStat : ${folders}" >
                <a th:href="@{'/secure/chronicle/' + ${_chronicle.id} + '/messaging/folder/' + ${folder.id}}" th:text="${folder.name}">Folder Name</a>
            </li>
        </ul>
    </div>
</div>
<div th:fragment="folderContent">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">From</th>
                <th scope="col">Subject</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messageList}" th:classappend="${(message.markAsRead) ? 'table-light':'table-primary'}">
                <td><a th:href="@{'/secure/chronicle/' + ${_chronicle.id} + '/messaging/read/' + ${message.id}}" class="fa fa-arrow-right" aria-hidden="true"></a></td>
                <td th:text="${message.sender.name}">From</td>
                <td th:text="${message.content.subject}">Subject</td>
                <td th:text="${message.content.date}">Date</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>