<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="writePost">
    <!--/*@thymesVar id="newPost" type="org.libermundi.theorcs.forms.PostForm"*/-->
    <form th:object="${newPost}" th:action="@{'/secure/chronicle/' + ${_chronicle.id} + '/post/send'}" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" th:name="scene" th:value="${scene.id}"/>
        <input type="hidden" th:field="*{postId}" />
        <div class="form-group row">
            <label th:for="from" th:text="#{components.messaging.write.form.from}" class="col-2 col-form-label">From</label>
            <div class="col-10">
                <select class="form-control" th:field="*{from}">
                    <option th:each="aCharacter : ${characterList}"
                            th:value="${aCharacter.id}"
                            th:text="${aCharacter.name}">Character's Name</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="content" th:text="#{components.messaging.write.form.content}" class="col-2 col-form-label">Content</label>
            <div class="col-10">
                <textarea th:field="*{content}" class="form-control" th:classappend="${(#fields.hasErrors('content'))? 'is-invalid':''}" required aria-describedby="helpContent"></textarea>
                <small id="helpContent" class="text-muted" th:unless="${#fields.hasErrors('content')}" th:text="#{components.messaging.write.form.content_help}">The content of your Message</small>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('content')}" th:text="${error}"/>
                    </ul>
                </div>
            </div>
            <script>
                CKEDITOR.replace('content', CkEditorConfig.basic);
            </script>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0" th:text="#{components.post.write.form.register}">Register</legend>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" th:field="*{registerToScene}" value="true" checked>
                        <label class="form-check-label" th:for="anonymous" th:text="#{forms.yes}">
                            Yes
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-2"></div>
            <div class="col-10">
                <button type="submit" class="btn btn-primary" th:text="#{actions.hop}">Hop !</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>